
   body {
      background-color: rgb(61, 61, 226);
      color: white;
   }
   h1, h2 {
      text-align: center;
   }
   p {
      font-family: Arial;
      font-size: 15pt;
   }
   pre {
      background-color: rgb(226, 221, 214);
      color: blue;
      font-size: 15pt;
      font-family: 'Arial';
   }
   strong {
      background-color: white;
      color: black;
   }
   mark {
      background-color: rgb(255, 255, 255);
      color: red;
   }
   code {
      background-color: yellow;
      color: black;
   }